#player1name::placeholder {
    color: blue
}

#player2name::placeholder {
    color: rgb(255, 0, 0)
}

::placeholder {
    color: red;
    opacity: 1; 
}

#startbutton {
    margin: 20px;
}

.gamepagetop {
    display: none;
    background-color: mediumspringgreen;
}

.intro {
    background-color: gold;
}

.header {
    font-family: 'Noto Serif', serif;
}

.rules {
    font-family: 'Philosopher', sans-serif;
}

#P1Jum {
    color: mediumblue;
    background-color: turquoise !important;
}

#P2Jum {
    color: gold;
    background-color: rgb(241, 15, 15) !important;
}

.btn {
    width: 240px;
}

.card {
    width: 100%;
    text-align: center;
}

h5 {
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 40px; 
    color: rgb(0, 132, 255);
}

